@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-weight: 700;
  src:
    local("Monaspace Neon"),
    url("/assets/fonts/MonaspaceNeon-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-weight: 800;
  src:
    local("Monaspace Neon"),
    url("/assets/fonts/MonaspaceNeon-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Argon Var";
  font-style: normal;
  font-weight: 600;
  src:
    local("Monaspace Argon Var"),
    url("/assets/fonts/MonaspaceArgon-SemiBold.woff2") format("woff2");
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monaspace Neon", sans-serif;
    font-weight: 700;
    scroll-behavior: smooth;
    color-scheme: dark;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-color: #241F23;
    border-width: 2px;
    background-color: white;
    color: #241F23;
    filter: drop-shadow(-2px 4px #241F23);
    border-radius: 12px;
    font-size: 18px;
    line-height: 24px; 
    letter-spacing: 3.6px;
  }

  button:active {
    filter: drop-shadow(0 0 #0000);
    margin-top: 0.25rem;
    margin-right: 0.125rem; 
  }
  
  button:hover,
  button:active {
    background-color: #A7A5A7;
  }
  
}

.horizontal-padding {
  @apply px-12;
}

@media (min-width: 640px) {
  .horizontal-padding {
    @apply px-20;
  }
}

@media (min-width: 1280px) {
  .horizontal-padding {
    @apply px-32;
  }
}

@media (min-width: 1536px) {
  .horizontal-padding {
    @apply px-56;
  }
}
