@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-weight: 700;
  src:
    local("Monaspace Neon"),
    url("/assets/fonts/MonaspaceNeon-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-weight: 800;
  src:
    local("Monaspace Neon"),
    url("/assets/fonts/MonaspaceNeon-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Argon Var";
  font-style: normal;
  font-weight: 600;
  src:
    local("Monaspace Argon Var"),
    url("/assets/fonts/MonaspaceArgon-SemiBold.woff2") format("woff2");
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Monaspace Neon", sans-serif;
    font-weight: 700;
    scroll-behavior: smooth;
    color-scheme: dark;
  }
}

.horizontal-padding {
  @apply px-12;
}

@media (min-width: 640px) {
  .horizontal-padding {
    @apply px-20;
  }
}

@media (min-width: 1280px) {
  .horizontal-padding {
    @apply px-32;
  }
}

@media (min-width: 1536px) {
  .horizontal-padding {
    @apply px-56;
  }
}
